"*":
  core:
    telemetryConsent: "no"
  editor:
    softWrap: true
  "exception-reporting":
    userId: "f776b8b7-30f2-84f6-a708-1f2172153665"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
