[user]
	name = Maxime Boisvert
	email = maxime.boisvert@shopify.com
[rerere]
	enabled = 1
[push]
	default = current
[core]
	excludesfile = /Users/maximeboisvert/.gitignore_global
[pull]
	default = current
[diff]
	algorithm = patience
[protocol]
	version = 2
[credential]
	helper = osxkeychain
[http "https://git-mirror.shopifycloud.com"]
	cookieFile = /tmp/galaxy.cookies
	saveCookies = true
[url "https://github.com/Shopify/"]
	pushInsteadOf = https://github.com/Shopify/
[url "git@github.com:Shopify/"]
	pushInsteadOf = git@github.com:Shopify/
[url "https://git-mirror.shopifycloud.com/Shopify/"]
	insteadOf = https://github.com/Shopify/
	insteadOf = git@github.com:Shopify/
	insteadOf = https://github.com/shopify/
	insteadOf = git@github.com:shopify/
[url "https://github.com/shopify/"]
	pushInsteadOf = https://github.com/shopify/
[url "git@github.com:shopify/"]
	pushInsteadOf = git@github.com:shopify/
