[user]
	name = Maxime Boisvert
	email = maxime.boisvert@shopify.com
[rerere]
	enabled = 1
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	editor = code -w
[pull]
	default = current
	ff = only
[include]
	path = /Users/boismaxi/.config/dev/gitconfig
